# --- UNIVERSALES (IDEs y Sistema) ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- BACKEND (Django) ---
backend/venv/
backend/.env
backend/__pycache__/
backend/*.py[cod]
backend/media/
backend/db.sqlite3

# Python (Archivos temporales)
**/__pycache__/
*.py[cod]
*$py.class

# --- FRONTEND (React/Vite) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/stats.html

# --- DOCKER ---
.docker/